@tailwind base;
/* @tailwind components;
@tailwind utilities; */

:root {
  --background: hsl(180, 5%, 15%);
  --foreground: #fff;
  --primary: hsl(50, 100%, 57%);
  --secondary: hsl(180, 100%, 57%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.625;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.25;
}

a {
  color: var(--primary);

  &:hover,
  &:focus {
    color: var(--secondary);
  }
}
