.container {
  padding: 2rem 0;
  font-size: 1.125rem;
  font-weight: 700;

  @media (min-width: 40em) {
    padding: 4rem 0;
  }

  @media (min-width: 52em) {
    padding: 8rem 0;
  }
}

.container h1 {
  font-size: 2rem;
  margin: 1.25rem 0;

  @media (min-width: 40em) {
    font-size: 3rem;
    margin: 2.25rem 0;
  }

  @media (min-width: 52em) {
    font-size: 4rem;
    margin: 3.25rem 0;
  }
}

.container p {
  margin: 1.25rem 0;
  line-height: 1.5;
}

.container ul {
  display: flex;
  gap: 1.5rem;
}
