.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-lg) 0;
  border-top: 1px solid var(--border);
  margin-top: var(--spacing-xl);
  font-size: 0.75rem;
}

.navigation {
  display: flex;
  flex: 1;
}

.list {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
}

.link {
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.75rem;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: var(--foreground);
    text-decoration: none;
  }
}

.copy {
  margin-left: auto;
  color: var(--secondary);
}
